{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

    </div>
</div>

<div class="card text-center">
    <div class="card-header">
      <b>About</b>
    </div>
    <br>
    <p>This website was created by <b>Susan Wen</b> for CMSC388J Spring 2021.</p>
    <p>Project Diaries is a site where people can sign up to create project diaries and make diary entries on their progress until they complete the project. People will be able to see other people’s projects to feel encouraged or learn what others are working on. They can comment on other's projects to show encouragement. In a sense, this is like a social media and progress tracker to help people’s productivity.</p>

</div>

{% endblock %}