{% extends "header.html" %}
{% block content %}

<div class="row">
    <div class="col">
        <form action="/" class="form-inline my-2 my-lg-0" method="POST">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-info">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

    </div>
</div>


<div class="row">
    <div class="col">
        <div class="card text-center">
        <div class="card-header">
        <b>Cool projects</b>
        </div>
        </div>
        <ul>
            {% for project in projects %}
            <li class="media review-item">
                <div class="media-body">
                    <strong><a href="{{ url_for('diaries.project', project_id=project.project_id) }}">
                            {{ project.title }}
                        </a>
                    </strong>
                    <p>
                        {{ project.description }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col">
        <div class="card text-center">
            <div class="card-header">
            <b>Cool users</b>
        </div>
        </div>
        <ul>
            {% for user in users %}
            <li class="media review-item">
                <div class="media-body">
                    <a href="{{ url_for('diaries.user_detail', username=user.username) }}">
                        <strong>@{{ user.username }}</strong>
                        </a>
                    <p>
                        {{ user.description }}
                    </p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock %}