{% extends "header.html" %}
{% block content %}

{% if error_msg %}
<b>{{ error_msg }}</b>
{% endif %}

{% if project %}

{# Display project and entries #}
<div class="row">
  <div class="col">
    <div class="card text-center">
      <div class="card-header">
        <b>{{ project.title }}</b>
      </div>
      <div class="card-body">
        <b>Created by:</b> 
        <a href="{{ url_for('diaries.user_detail', username=username) }}">
          <strong>@{{ username }}</strong>
        </a>
        <br>
        <b>Description: </b> {{ project.description }}
      </div>
    </div>
  </div>
</div>


{# Entries #}
<div class="row">
  <div class="col-md-12">
    <h1> Entries <small class="float-right">{{ entries|length }} entries</small></h1>
    <ul class="media-list">
      {% for entry in entries %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ entry.date }}</small>
          </span>
          <p>
            <b>{{entry.title}}</b>
            <p>{{ entry.content }}</p>
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>

{% if current_user.is_authenticated and current_user.username == username %}
{# Entry form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ entry_form.csrf_token }}
      <div class="form-group">
        {{ entry_form.title.label }}
        {{ entry_form.title(class="form-control") }}

        {% if entry_form.title.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in entry_form.title.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      <div class="form-group">
        {{ entry_form.content.label }}
        {{ entry_form.content(class="form-control") }}

        {% if entry_form.content.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in entry_form.content.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ entry_form.submit_en() }}
    </form>
  </div>
</div>
{% endif %}


{# Comments #}
<div class="row">
  <div class="col-md-12">
    <h1> Comments <small class="float-right">{{ comments|length }} comments</small></h1>
    <ul class="media-list">
      {% for comment in comments %}
      <li class="media review-item">
        <div class="media-body">
          <span class="float-right">
            <small>{{ comment.date }}</small>
          </span>
          <a href="{{ url_for('diaries.user_detail', username=comment.commenter.username) }}">
            <strong>@{{ comment.commenter.username }}</strong>
          </a>
          <p>
            {{ comment.content }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>


{% if current_user.is_authenticated and current_user.username != username  %}
{# Comment submission form #}
<div class="row">
  <div class="col">
    <form method="POST" action="">
      {{ comment_form.csrf_token }}
      <div class="form-group">
        {{ comment_form.text.label }}
        {{ comment_form.text(class="form-control") }}

        {% if comment_form.text.errors %}
        <div class="alert alert-warning" role="alert">
          {% for error in comment_form.text.errors %}
          <span>{{ error }}</span>
          {% endfor %}
        </div>
        {% endif %}

      </div>
      {{ comment_form.submit() }}
    </form>
  </div>
</div>
{% endif %}
{% endif %}
{% endblock content %}